*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior:smooth;
}


body{
    background:#d8edf7;
    overflow-x:hidden;
    transition:0.4s;
}



.dark-mode{
    background:#111;
    color:white;
}

.dark-mode .card,
.dark-mode .quick-card,
.dark-mode .content-box,
.dark-mode .contact-box{
    background:#1f1f1f;
    color:white;
}

.dark-mode input,
.dark-mode textarea{
    background:#333;
    color:white;
    border:1px solid #555;
}

.dark-mode footer,
.dark-mode .navbar{
    background:#000;
}



.navbar{
    background:black;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 40px;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:red;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

.nav-links a:hover,
.active-link{
    color:red;
}



#mobileMenu{
    display:none;
    font-size:28px;
    cursor:pointer;
}



.hero{
    min-height:50vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 40px;
}

.hero-content{
    width:50%;
}

.hero-content h1{
    font-size:52px;
    margin-bottom:20px;
    line-height:1.2;
}

.hero-content p{
    font-size:18px;
    line-height:1.8;
    margin-bottom:30px;
}


.btn{
    background:red;
    color:white;
    text-decoration:none;
    padding:14px 32px;
    border-radius:12px;
    transition:0.3s;
    display:inline-block;
    position:relative;
    overflow:hidden;
}

.btn:hover{
    background:black;
    transform:translateY(-5px);
}



button,
.btn{
    position:relative;
    overflow:hidden;
}

.ripple{
    position:absolute;
    background:rgba(255,255,255,0.5);
    border-radius:50%;
    transform:scale(0);
    animation:rippleEffect 0.6s linear;
    width:100px;
    height:100px;
}

@keyframes rippleEffect{

    to{
        transform:scale(4);
        opacity:0;
    }

}


.hero-image img{
    width:320px;
    background:white;
    padding:30px;
    border-radius:25px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

.floating{
    animation:float 3s ease-in-out infinite;
}


@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}


.features,
.quick-links,
.dynamic-content,
.a*/bout,
.contact,
.advanced-features,
.team-section,
.api-section,
.stats-section{
    padding:70px 40px;
}


.features h2,
.quick-links h2,
.about h2,
.contact h2,
.advanced-features h2,
.team-section h2,
.api-section h2,
.stats-section h2{
    text-align:center;
    margin-bottom:90px;
    font-size:38px;
}



.feature-grid,
.link-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(120px,1fr));
    gap:45px;
}


.card,
.quick-card,
.content-box{
    background:white;
    padding:25px;
    border-radius:22px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover,
.quick-card:hover{
    transform:translateY(-8px);
}



.card h3{
    margin-bottom:12px;
    font-size:22px;
}

.card p{
    line-height:1.7;
    color:#444;
}

.dark-mode .card p{
    color:#ddd;
}


.quick-card{
    text-align:center;
    font-size:22px;
    font-weight:600;
    cursor:pointer;
}



.dynamic-content{
    display:flex;
    justify-content:center;
}

.content-box{
    width:100%;
    max-width:900px;
    display:none;
}

.active-box{
    display:block;
}

.content-box h2{
    margin-bottom:15px;
}

.content-box p{
    line-height:1.8;
}



.about p{
    text-align:center;
    max-width:900px;
    margin:auto;
    line-height:1.8;
    font-size:18px;
}


.contact-box{
    background:white;
    max-width:850px;
    margin:auto;
    padding:40px;
    border-radius:25px;
    box-shadow:0 6px 18px rgba(0,0,0,0.1);
}

form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

input,
textarea{
    padding:16px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:16px;
    transition:0.3s;
}

input:focus,
textarea:focus{
    outline:none;
    border:1px solid red;
}

textarea{
    height:120px;
}


button{
    background:red;
    color:white;
    border:none;
    padding:16px;
    border-radius:12px;
    cursor:pointer;
    font-size:18px;
    transition:0.3s;
}

button:hover{
    background:black;
}


.dark-toggle{
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:2000;
}


#toast{
    position:fixed;
    right:20px;
    top:20px;
    background:black;
    color:white;
    padding:15px 25px;
    border-radius:10px;
    opacity:0;
    pointer-events:none;
    transition:0.4s;
    z-index:2000;
}

#toast.show{
    opacity:1;
}


footer{
    background:black;
    color:white;
    text-align:center;
    padding:30px;
}

footer p{
    margin:8px 0;
}
/* SECTION GAP */

.about{
    margin-top:30px;
}

.advanced-features{
    margin-top:80px;
}

.team-section{
    margin-top:80px;
}

.api-section{
    margin-top:80px;
}

.stats-section{
    margin-top:80px;
}

.contact{
    margin-top:80px;
}

footer{
    margin-top:80px;
}

.quick-links{
    padding-bottom:80px;
}

/

.about{
    padding-top:20px;
    padding-bottom:15px;
}


.advanced-features{
    padding-top:50px;
}


.team-section{
    padding-top:70px;
}


.api-section{
    padding-top:100px;
}


.stats-section{
    padding-top:100px;
}



.contact{
    padding-top:100px;
}


.fade-up{
    opacity:0;
    transform:translateY(30px);
    transition:1s;
}

.fade-up.show{
    opacity:1;
    transform:translateY(0px);
}


#liveClock{
    font-size:22px;
    font-weight:bold;
    margin-top:20px;
    color:red;
}


.counter{
    font-size:42px;
    font-weight:bold;
    color:red;
}



#globalSearch{
    width:100%;
    max-width:500px;
    margin:20px auto;
    display:block;
}


#loader{
    position:fixed;
    width:100%;
    height:100vh;
    background:white;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:5000;
}

#loader::after{
    content:'';
    width:60px;
    height:60px;
    border:8px solid #ddd;
    border-top:8px solid red;
    border-radius:50%;
    animation:spin 1s linear infinite;
}

@keyframes spin{

    100%{
        transform:rotate(360deg);
    }

}



#scrollTop{
    position:fixed;
    right:20px;
    bottom:80px;
    background:red;
    color:white;
    border:none;
    padding:14px 18px;
    border-radius:50%;
    display:none;
    cursor:pointer;
    z-index:2000;
}

@media(max-width:900px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-content{
        width:100%;
    }

    .hero-image img{
        margin-top:30px;
    }

    .navbar{
        flex-direction:column;
        gap:15px;
    }

    .nav-links{
        flex-direction:column;
        align-items:center;
        display:none;
    }

    .nav-links.show-menu{
        display:flex;
    }

    #mobileMenu{
        display:block;
    }

}